<div class="site-header cftrade-header">
    <div class="header-logo">
        <i class="icon-imgcftrade"></i>
        <i class="icon-imgcftradetext"></i>
    </div>
    <span class="company">乐经纪</span>
    <div class="btn-right">
        <div class="btn-nav">
            <ul>
                <li>
                    <a href="#">退出</a>
                </li>
                <li>
                    <a href="javascript:void(0)">欢迎您，五月</a>
                </li>
                <li>
                    <p>消息<span class="text-red">（2）</span></p>
                </li>
            </ul>
        </div>
    </div>
</div>